body {
    margin: 0;
    display: flex;
    flex-direction: column;
    height: 99vh;
    justify-content: space-around;
    align-items: center;
    background-color: papayawhip;
}

#container {
    /* this holds the keyboard */
    display: flex;
    flex-direction: row;
    background-color: lightgray;
}

#controls {
    /* this shows the map for keys to notes */
    height: 100px;
    width: 400px;
    border: 1px solid red;
}

.keys {
    display: flex;
    cursor: pointer;
    align-items: flex-end;
    border-radius: 3px;
    box-shadow: 1px 2px gray;
}

.whiteKeys {
    height: 200px;
    width: 50px;
    border: 1px solid black;
    background-color: white;
    margin: 1px;
    position: relative;
}

.blackKeys {
    align-items: flex-end;
    margin: 0 -20px 0 -20px;
    height: 120px;
    width: 40px;
    background-color: black;
    z-index: 1;
    color: white;
}

.keys:hover {
    transform: scale(1.01);
}

.played {
    transform: translateY(2px);
    font-size: 1.5em;
    color: white;
    justify-content: center;
}

.blackKeys.played {
    text-transform: translateY(2px);
    font-size: 1.5em;
    color: black;
}

#testDiv {
    /* display: none; */
    height: 50px;
    width: 50px;
    border: 3px solid red;
    position: absolute;
    top: 0;
    right: 0;
}

.hiddenNotes {
    opacity: 0;
    display: none;
    position: relative;
    bottom: 25%;
    left: 25%;
}

.played .fadeIn {
    animation: fadeIn 1s;
    position: relative;
    bottom: 25%;
    left: 25%;
}

#noteDisplayBox {
    height: 5rem;
    color: red;
    font-size: 4rem;
    font-weight: bold;
}

.invisible {
    display: none;
}

#keyboard-yn-box {


    width: 6em;
    border-radius: 5px;
    padding: 1px;
    background-color: rgb(246, 224, 195);
}

#keyboard-yn-box div {
    margin-left: 4px;
}


#keyboard-yn {
    border-radius: 5px;
    width: 100%;
}


@media screen and (max-width: 900px) {

    #keyboard-yn-box,
    .extraKeys {
        display: none;
    }

}